<div class="text-center">
    @{
    User? user = Model as User;
    if (user.Name != null)
    {
       <h1 class="display-4">Name: @user.Name</h1>
       <h1 class="display-4">Age: @user.Age</h1>
       <h1 class="display-4">Gender: @(user.IsMale ? "Male" : "Female")</h1>
       <h1 class="display-4">Balance: @user.Balance</h1>
       <h1 class="display-4">Birthday: @user.Birthday</h1>
    }
    else
    {
       <h1 class="display-4">You need to login first</h1>
    }
}
</div>


