@{
    Dictionary<int, User>? users = Model as Dictionary<int, User>;
    if (users?.Count != 0)
    {
    <table style="margin:0 auto">
    <tr>
        <th>Ім'я</th>
        <th>Вік</th>
        <th>Стать</th>
        <th>Баланс</th>
        <th>День народження</th>
    </tr>
    @foreach(var item in users)
    {
        <tr>
            <td>@item.Value.Name</td>
            <td>@item.Value.Age</td>
            <td>@(item.Value.IsMale?"Чоловік":"Жінка")</td>
            <td>@item.Value.Balance$</td>
            <td>@item.Value.Birthday</td>
            <td style="border:none"><button><a asp-controller="User" asp-action="UserForm" asp-route-id=@item.Key>Edit</a></button></td>
            <td style="border:none"><button><a asp-controller="User" asp-action="DeleteUser" asp-route-id=@item.Key>Delete</a></button></td>
        </tr>
    }
    </table>
    }
    else
    {
       <h1 class="display-4 text-center">Currently there is no users</h1>
    }
}