@{
    var me = ViewData["AboutMe"] as AboutMe;
    var skills = ViewData["Skills"] as List<Skill>;
}

<h2>Мене звати <span style="color:red">@me.Surname @me.Name</span></h2>
<p>Я @me.Location</p>
<p>Мені @me.Age років</p>
<p>На сьогодняшній день навчаюсь в 11-ому класі</p>
<p>У вільний час граю у шахи, відеоігри, відвідую спортивний зал</p>
<img src=@me.ImageUrl style="width:200px" />
<h2>Деякі мої навички:</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Назва</th>
        <th>Рівень володіння</th>
    </tr>
    @foreach(var item in skills)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
            <td>
                <div class="progress" style="width:150px">
                    <div class="progress-bar" role="progressbar" style="width: @item.Mastery%;" aria-valuenow=@item.Mastery aria-valuemin="0" aria-valuemax="100">@item.Mastery%</div>
                </div>
            </td>
    </tr>
    }
</table>